*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
}
.menu{
    background-color: black;
    width: 200px;
    height: 100vh;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 30px;
}
.right-content{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.logo img{
    margin-left: 200px;
}
.des{
    text-align: center;
    width: 700px;
}
