*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
.container{
    display: flex;
}
.left-content{
    background-color: black;
    width: 400px;
    height: 100vh;
}
.menu li{
    margin: 15px 0;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 40px 30px;
}
.menu li:hover{
    border: 1px solid purple;
}
.container .right-content{
    text-align: center;
    margin: 30px 50px;
}
.des{
    margin: 30px 80px;
    background: #EFEFEF;
}
.item-content{
    margin: 30px 20px;
}
.item-top{
    display: flex;
}
.item{
    display: flex;
}
.copyright{
    margin-top: 100px;
}
footer{
    position: absolute;
    margin: 20px 150px;
    bottom: 0;
}